rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isOwner(userId) { return signedIn() && request.auth.uid == userId; }

    match /users/{userId} {
      allow read: if true;
      allow create, update: if isOwner(userId);
      allow delete: if false;

      match /followers/{followerId} {
        allow read: if true;
        allow create, delete: if signedIn();
      }

      match /following/{followingId} {
        allow read: if true;
        allow create, delete: if isOwner(userId);
      }
    }

    match /posts/{postId} {
      allow read: if true;
      allow create: if signedIn() && request.resource.data.authorId == request.auth.uid;
      allow update: if signedIn();
      allow delete: if signedIn() && resource.data.authorId == request.auth.uid;

      match /stars/{userId} {
        allow read: if true;
        allow create, delete: if isOwner(userId);
      }

      match /reposts/{userId} {
        allow read: if true;
        allow create, delete: if isOwner(userId);
      }

      match /comments/{commentId} {
        allow read: if true;
        allow create: if signedIn() && request.resource.data.authorId == request.auth.uid;
        allow update, delete: if signedIn() && resource.data.authorId == request.auth.uid;
      }
    }
  }
}
